@import '../sass/variables.scss';

.header {
    height: 100vh;
    background-position: top;
    position: relative; 
    background-color: $color-dark-navy;
    overflow: hidden;

    @media #{$max-medium} {
      height: 100vh;
  }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin-top: 10rem;
        
        @media #{$max-medium} {
          width: 100%;
        }
    } 
}   

.heading-primary {
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
      display: block;
      font-size: 4rem;
      font-weight: 400; 
      line-height: 1.2;
      @media #{$max-medium} {
          font-size: 3rem;
      }
  }

  &--sub {
      display: inline-block;
      font-size: 2rem;
      font-weight: 700;
      margin: 8rem;  
  }
 
}

.highlight {
  color: $color-highlight;
}

.arrow {
    text-align: center;
    margin: 8% 0;
    margin-top: 10rem;
   
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  canvas {
    height: 100vh !important;
}