@import '../sass/variables.scss';

.section-contact {
    height: 100vh;
    background-color: $color-dark-navy;
    text-align: center;
    position: relative;

    @media #{$max-medium} {
        height: 100%;
    }
}

.contact-title {
    text-align: center;
    margin: 0 auto;

    @media #{$max-medium} {
        width: 100%;
    }
}

.border-bottom-contact {
    margin: -3rem auto;
    border-top: 4px solid white;
    width: 10rem;
}

.contact-heading {
    color: $color-light-gray;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    padding: 10rem;

    @media #{$max-medium} {
        flex-direction: column;
    }
}

.icon {
    margin: 10rem;
    color: $color-light-gray;
    font-size: 7rem;
    
    &:hover {
        color: $color-highlight;
    }

    @media #{$max-large} {
        font-size: 3rem;
    }
}

.section-copyright {
    text-align: center;

    &__text {
        font-size: 1.1rem;
        font-weight: 700;
    }
}